.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.paper-container{
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    width:70%;
    overflow: auto;
}

.paper-container > div > button{
    margin: 1em;
}

.modal-cancel{
    text-align: center;
}

.modal-body{
    width: 40%;
    margin: auto;
}

.modal-body > .modal-desc{
    overflow: auto;
}

.modal-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    padding: 32px;
}