div > .student-label{
    display: inline-block;
    margin-right: 1em;
}

div > .student-row{
    margin-bottom: 1.5em;
}

div > .notes-field{
    width:50%;
    margin-bottom:2em;
}

.lesson-container{
    margin-top: 0;
    margin-bottom: 1.5em;
}

.filter-container{
    display:flex
}

.filter-container > div{
    flex-grow: 1;
}

.filter-container > button{
    padding: 0.2em;
}

@media (min-width: 960px) {
    .lesson-container{
        margin-top: 2.5em;
    }
  }